In [2]:
import pandas as pd
df = pd.read_excel("premiums.xlsx")
df.sample(5)

,Age,Gender,Region,Marital_status,Number Of Dependants,BMI_Category,Smoking_Status,Employment_Status,Income_Level,Income_Lakhs,Medical History,Insurance_Plan,Annual_Premium_Amount
34107,26,Female,Southeast,Unmarried,0,Obesity,Occasional,Salaried,10L - 25L,23,Diabetes & Thyroid,Silver,22633
42577,21,Male,Northwest,Married,3,Underweight,No Smoking,Self-Employed,25L - 40L,29,No Disease,Silver,8476
49249,34,Male,Northeast,Married,3,Normal,Regular,Freelancer,<10L,7,Heart disease,Bronze,16266
1927,37,Male,Southeast,Married,3,Normal,Regular,Self-Employed,10L - 25L,21,No Disease,Silver,16584
45590,30,Female,Southwest,Married,2,Normal,Regular,Self-Employed,25L - 40L,27,Heart disease,Silver,22596

In [3]:
df_young = df[df['Age'] <= 25]
df_rest = df[df['Age'] > 25]

print('young shape:', df_young.shape)
print('rest shape:', df_rest.shape)

young shape: (20096, 13)
rest shape: (29904, 13)

In [4]:
df_young.to_excel("premiums_young.xlsx", index=False)
df_rest.to_excel("premiums_rest.xlsx", index=False)